<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
<ion-icon name="chevron-forward-outline" (click)="goToTab3()"></ion-icon>
</ion-header>
<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <webcam [allowCameraSwitch]="allowCameraSwitch" [height]="1000" [width]="1000" class="teste" #test></webcam>
  <div class="ontop"></div>
  <body class="ontop" #bd>
</body>
</ion-content>
